*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
nav{
    display: flex;
    margin-bottom: 5%;
}
.logo{
    width: 20%;
}
.top{
    width: 80%; 
}
.top ul{
    display: flex;
    gap: 25px;
    list-style: none;
    width: 10%;
    margin-left: 0%;
}
ul li a{
    text-decoration: none; 
    font-weight: bold;
    color: black;
}
.end{
    /* width: %; */
    
    /* margin-left: 20%; */
}
.end a{
    text-decoration: none;
    /* background-color: #5b06d2; */
    color: white;
    font-weight: bold;

}
.end button{
    background-color: #5b06d2;
    margin-top: 5px;
    border-radius: 8px;
    border-style: none;
    height:40px;
    width: 110px;
}
.mid-left{
    margin-left: 0%;
    display: grid;
    /* width: ; */
}
.mid-left {
    /* color: aqua; */
    font-size: 30px;
    margin-bottom: 0px;
}
button a{
    color: white;
    text-decoration: none;
}
button{
    height: 40px;
    width: 150px;
    border-style: none;
    font-weight: bold;
    border-radius: 8px;
    background-color: #5b06d2;
}
span{
    color: rgb(80, 49, 192);
}
.mid-left {
    width: 50%;
    margin-top: 10%;
}
.mid-left p{
    font-weight: bold;
    margin-top: -12%;
    font-size: small;
}
.mid-right img{
    max-width: 100%;
    max-height: 100%;
}
div{
    display: flex;
}
button:hover{
    background-color: #8d198b;
    transform: scale(1.1);
}
li:hover{
    text-decoration: underline;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}
